<h1>Shrimpy Me</h1>

<%= simple_form_for @url do |f| %>

  <% if @url.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@url.errors.count, "error") %> prohibited this url from being shrimped:</h2k
        <ul>
        <% @url.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <%= f.input :full_url, label: "Enter Your URL",  placeholder: "Must Include 'http://'" %>
  <%= f.submit 'Shrimpy Me' %>
<% end %>

<table id="active-shrimps" name="active-shrimps">
  <thead>
    <tr>
      <th>Full Url</th>
      <th>Shrimped Url</th>
      <th>
        <%= form_tag do %>
          <%= label_tag(:sort_popularity, "Visits (click to sort by popularity)") %>
          <%= radio_button_tag(:sort, "popularity") %>
        <% end %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @urls.each do |url| %>
    <tr>
      <td><%= url.full_url %></td>
      <td><%= "http://shrimped.me/#{url.slug}" %></td>
      <td><%= url.visits.count %></td>
      <td><%= link_to "Test Me", url_path(url.slug) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
