<h1>Shrimpy Me</h1>

<%= simple_form_for @url do |f| %>

  <% if @url.errors.any? %>
      <div id="error_explanation">
        <p><%= pluralize(@url.errors.count, "error") %> prohibited this url from being shrimped:</h2>
        <ul>
        <% @url.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <%= f.input :full_url, label: "Enter Your URL",  placeholder: "Include http:// or https://" %>
  <%= f.submit 'Shrimpy Me' %>
<% end %>

<%= render partial: "application/url_table", locals: {:urls => @urls} %>

