<div id="section-heading">
  <h3>Active Shrimpy Urls</h3>
</div>

<div id="search-form">
  <label for="searchbox"> Search by page title</label>
  <input type="text" id="searchbox">
</div>

  <table id="active-shrimps" name="active-shrimps">
    <thead>
      <tr>
        <th>Page Title</th>
        <th>Shrimped Url</th>
        <th id="visits-label">
          Visits
          <div id="sort-radio">
            <%= form_tag do %>
              <%= label_tag(:sort_popularity, "click to sort by popularity") %>
              <%= radio_button_tag(:sort, "popularity") %>
            <% end %>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
    <% urls.each do |url| %>
      <tr>
        <td class="page-title"><%= url.title %></td>
        <td><%= link_to "shrimpy.me/#{url.slug}", url_path(url.slug) %></td>
        <td><%= url.visits.count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
